footer {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    min-height: 100px;
    
    border: 1px solid #609fec;
    background: #dfebfa;

    display: flex;
    align-items: center;
    
}


div address{

    font-size: 15px;
    font-weight: lighter;
    color: rgb(20, 9, 80);
             
 }
