header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    min-height: 100px;

    border: 1px solid #609fec;
    background-color: #093366;

    h1 {
        font-size: 35px;
        text-shadow: 1px 1px 2px, 0 0 0.1em rgb(221, 117, 117);
        color: white;
    }

    .menu {

        ul {
            display: flex;
            
            li {
                list-style-type: none;
                margin-left: 20px;

                a {
                    text-decoration: none;
                    font-size: 20px;
                    color: white;
                }

                a:hover {
                    color: rgb(211, 15, 15);
                }
            }
        }
    }
}
