header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    padding: 4px;
    min-height: 100px;
    border: 1px solid #609fec;
    border-radius: 4pt;
    background: #dfebfa;
    }