main {
    min-height: 800px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    }
   
   main > .column1 {
    margin: 2px;
    padding: 5px;
    border: 1px solid #cccc33;
    border-radius: 4pt;
    background: #dddd88;
    flex: 3 1 60%;
    order: 2;
    
   }
   h2 + img{
        
        border: 1px ghostwhite solid;
        display: flex;
        justify-content: center;
        max-width: 50%;
        height: auto;
    }
   
   main > .column2 {
    margin: 2px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 4pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 1;
    }
   
   main >  .column3 {
    margin: 2px;
    padding: 5px;
    border: 1px solid #8888bb;
    border-radius: 4pt;
    background: #ccccff;
    flex: 1 6 20%;
    order: 3;
    }